.modal {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(102, 92, 92, 0.39);

  &.open {
    display: flex;
  }

  .modalContent {
    background-color: white;
    min-height: 200px;
    min-width: 200px;
    border: 1px solid #ccc;
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }
}
